{% include 'base.html' %}
{% load static %}
<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
</style>
<body class='gradient-custom'>
    <div class="row row-cols-1 row-cols-md-3 mt-3 m-3">
        {% for item in equipment %}
        <div class="col mb-4">
          <!-- Card -->
          <div class="card">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="{% static item.rented_eq.image %}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body">
      
              <!--Title-->
              <h4 class="card-title">{{item.rented_eq.name}}</h4>
              <!--Text-->
              <p class="card-text">{{item.rented_eq.description}}</p> 
              <p class="card-text">Wypożyczone do: {{item.end_of_rent_date}}</p> 
              {% for key, value in penalty.items %}
                {% if key == item.id%}
                <p class="card-text text-danger">Kara: {{value.0}}ZŁ (15zł za dzień zwłoki lub 2zł na godzinę jeśli nie minął dzień)</p>
                {% endif %}
              {% endfor %}
                
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            </div>
      
          </div>
          <!-- Card -->
        </div>
        {% endfor %}
      </div>
</body>